.egghero img {
    margin-top: 3rem;
}
#angel {
    width: 10rem;
    margin-left: 2.5rem;
}
#broken-egg {
    width: 15rem;
    margin-left: 0.5rem;
}
#born-dino {
    width: 18rem;
    margin-bottom: 0.7rem;
    margin-right: 0.7rem;
}
#born-bear {
    width: 13rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
}
#born-cat {
    width: 13rem;
    margin-top: 2.7rem;
    margin-bottom: 0.3rem;
    margin-left: 1.5rem;
}
