  .record_a {
    transition: all 200ms ease-in;
    color: #5db9ff;
    cursor: pointer;
    text-decoration: none;
  }
  #cometomorrow-text {
    /* color:rgb(236, 160, 17); */
    letter-spacing: 0.05em;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Microsoft YaHei','SimSun', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 7rem;
  }
  .blank-up {
    margin-top: 2rem;
  }
  .blank-down {
    margin-bottom: 8rem;
  }
  .record_a div {
    font-size: 1.1rem;
    /* color: rgba(44, 43, 43, 0.877); */
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-family: "Microsoft YaHei","黑體","宋體",sans-serif;
    /* margin-top: -1rem;
    margin-bottom: -1rem; */
  }
  .record_a:hover {
    color: #239da8;
  }
  .record_a:active {
    color: #555;
  }
  .record_a:focus {
    outline: none;
  }
  /* .modal {
      background-color: blueviolet;
  } */
