.scoreboard{
    margin-top: -0.8rem;
    margin-bottom: -0.8rem;

    /* border-style: solid; */
    border-color: darkorchid;
    border-width: 0.1rem;
}
.scoreboard p {
    font-family:  "Microsoft YaHei","黑體","宋體",sans-serif;
    /* color: rgb(21, 51, 77); */
    font-weight: 600;
    font-size: 1.2rem;
}
.scoreboard p span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(45, 85, 206);
    font-weight: 700;
}