.sleepAni img {
    width:18rem;
    /* height:5rem;*/
}
.sleepAni {
    /* border-style: solid; */
    border-color:orangered;
    border-width: 0.1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
#sleep-bear {
    width: 16rem;
    /* margin-top: 2.5rem; */
}
#sleep-dino {
    width: 20rem;
    margin-top: -1.3rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}