.carousel {
    /* border-width: 0.13rem;
    border-color: red;
    border-style: solid; */
    margin-top: -0.5rem;
    width: 16rem;
    height: 21rem;
}
.carousel img {
    opacity: 80%;
    height: 21rem;
    border-radius: 0.7rem;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23777' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23777' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel p {
    /* border-width: 0.13rem;
    border-color: red;
    border-style: solid; */
    
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-family: 'Microsoft YaHei','SimSun', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}
.carousel-caption {
    top: 1.5rem;
    bottom: auto;
}
.carousel-item {
    transition: transform 1.0s ease-in-out;
  }
.carousel h6 {
    margin-top: auto;
    margin-bottom: 2rem;
    color: #000;
}
.item {
    /* border-width: 0.15rem;
    border-color: rgb(50, 224, 7);
    border-style: solid; */

    /* position: relative; */
    margin-top: auto;
}
/* .out-border {
    border-width: 0.15rem;
    border-color: black;
    border-style: solid;
    border-radius: 1rem;

    width: 17rem;
    height: 22rem;
} */
/* .inner-border {
    border-width: 0.15rem;
    border-color: black;
    border-style:dashed;

    width: 17rem;
    height: 22rem;

    position: relative;

    margin-left: 1rem;
    margin-top: 1rem;
} */